<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:jndi="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="pl.mszynkiewicz.jms"/>

    <jms:listener-container connection-factory="connectionFactory" acknowledge="transacted" destination-type="topic">
        <jms:listener destination="${topic.name}" ref="greaterThan100MessageListener" selector="number &gt; 100"/>
        <jms:listener destination="${topic.name}" ref="notGreaterThan100MessageListener" selector="number &lt;= 100"/>
        <jms:listener destination="${topic.name}" ref="allMessageListener"/>
    </jms:listener-container>

    <bean id="greaterThan100MessageListener" class="pl.mszynkiewicz.jms.topic.RespondingMessageListener">
        <property name="selector" value="number &gt; 100"/>
    </bean>

    <bean id="notGreaterThan100MessageListener" class="pl.mszynkiewicz.jms.topic.RespondingMessageListener">
        <property name="selector" value="number &lt;= 100"/>
    </bean>

    <bean id="allMessageListener" class="pl.mszynkiewicz.jms.topic.RespondingMessageListener"/>

    <jndi:jndi-lookup jndi-name="ConnectionFactory"
                      id="connectionFactory"
                      expected-type="javax.jms.ConnectionFactory">
        <jndi:environment>
            java.naming.provider.url=${java.naming.provider.url}
            java.naming.factory.url.pkgs=${java.naming.factory.url.pkgs}
            java.naming.factory.initial=${java.naming.factory.initial}
        </jndi:environment>
    </jndi:jndi-lookup>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="jms.properties"/>
    </bean>
</beans>